.breadcrumb {
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
    color: white;
}
.breadcrumb li:not(:last-child) {
    margin-right: 60px;
}
.breadcrumb li:last-child {
    user-select: none;
}