.breadcrumb {
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
    color: white;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
}
.breadcrumb li:not(:last-child) {
    position: relative;
    margin-right: 60px;
}

.breadcrumb li:not(:last-child):before {
    content: "";
    position: absolute;
    right: -90px;
    top: 6px;
    width: 7px;
    height: 7px;
    border-top: 2px solid white;
    border-right: 2px solid white;
    margin-right: 60px;
    transform: rotate(45deg);
}
.breadcrumb li:last-child {
    user-select: none;
}