.login-section {
    font-family: 'Quicksand', Arial, sans-serif;
    padding-bottom: 60px;
}
.login-section form {
    background-color: white;
    width: 600px;
    margin: 0 auto;
    padding: 40px 60px;
    border-radius: 6px;
}
.login-section h2 {
    color: #fff;
    font-size: 50px;
    font-family: "Fredoka One", Arial, sans-serif;
    padding-top: 0;
    padding-bottom: 40px;
    text-align: center;
}
.login-section .register-link {
    display: block;
}
.login-section .forgot-pass {
    display: block;
    padding-top: 20px;
    text-align: right;
}

.login-section .forgot-pass a,
.login-section .register-link{
    color: #372C50;
    transition: color 0.5s;
}
.login-section .forgot-pass a:hover
.login-section .register-link:hover{
    color: #644d8c;
}


.login-section__input-item {
    margin-top: 30px;
}
.login-section__input-list b {
    display: block;
    margin-bottom: 15px;
}

.login-section__footer .btn{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 30px;
}
.login-section__footer .register-link{
    text-align: center;
    font-weight: 600;
}