* {
    box-sizing: border-box;
}
*::selection {
    background-color: #816eca;
    color: white;
}
body {
    font-family: "Fredoka One", Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #2c2f50;
}
.inner-page main {
    background-color: #816eca;
    background-image: linear-gradient(0deg, rgba(220,89,136,1) 0%, rgba(103,91,153,1) 100%);
}
h2 {
    padding: 20px 0;
}
h1,h2,h3,h4,h5,h6 {
    margin: 0;
    font-weight: 400;
}
input, button, a {
    font: inherit;
}

img {
    max-width: 100%;
    height: auto;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a:visited {
    color: inherit;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.d-none {
    display: none !important;
}

.d-block {
    display: block !important;
}

.d-flex {
    display: flex !important;
    flex-wrap: wrap !important;
}

a {
    color: black;
    text-decoration: none;
}
a:visited {
    color: inherit;
}
.btn {
    font-family: "Quicksand", Arial, sans-serif;
    font-weight: 700;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    padding: 10px 30px;
    border-radius: 20px;
    transition: background-color 0.3s;
    cursor: pointer;
}
.btn:hover {
    background-color: rgba(0, 0, 0, 0.6);
}

.btn-buy {
    border: 0;
    padding: 12px 35px;
    background-color: #816eca;
    border-radius: 25px;
    color: white;
    text-transform: uppercase;
    display: inline;
}
.btn-buy:hover  {
    background-color: #584a8a;
}
.overflow-h {
    overflow: hidden;
}

.input {
    display: block;
    width: 100%;
    padding: 10px 20px;
    border-width: 2px;
    border-style: solid;
    border-color: #b3aeab;
    border-radius: 25px;
    outline: none;
    transition: border-color 0.4s;
}
.input:hover,
.input:focus {
    border-color:  #868380;
}
.container {
    width: 1170px;
    margin: 0 auto;
}
.logo {
    height: 80px;
}
.logo img {
    height: 80px;
}
.header {
    min-height: 80px;
    background-color: #fff;
}
.header__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.nav-bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 870px;
}

.site-navigation ul,
.user-navigation ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.site-navigation ul li {
    text-transform: uppercase;
}
.site-navigation ul a {
    display: block;
    padding: 30px 0;
    color: #372C50;
    transition: color 0.3s;
}
.site-navigation ul a:hover {
    color: #644d8c;
}
.user-navigation ul li {
    text-transform: uppercase;
}
.user-navigation ul li a {
    color: #9d92a5;
    transition: color 0.3s;
}
.user-navigation ul li a:hover {
    color: #797180;
}
.user-navigation ul a{
    display: block;
    padding: 30px 0;
}

.site-navigation ul li:not(:last-child) {
    margin-right: 60px;
}

.user-navigation ul li:not(:last-child) {
    margin-right: 30px;
}

.footer {
    background-color: #fff;
    padding-top: 50px;
    padding-bottom: 50px;
}
.footer .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.footer__about-us {
    font-family: "Quicksand", Arial, sans-serif;
    font-weight: 600;
    width: 200px;
}
.footer__categories {
    width: 200px;
}
.footer__categories h2,
.footer__about h2 {
    padding-top: 0;
    text-transform: uppercase;
    font-size: 16px;
}
.footer__categories ul,
.footer__about ul {
    font-family: "Quicksand", Arial, sans-serif;
    font-weight: 500;
}
.footer__categories li,
.footer__about li {
    padding: 10px 0;
}
.footer__categories li a,
.footer__about li a {
    color: #868380;
    transition: color 0.3s;
}
.footer__categories li a:hover,
.footer__about li a:hover {
    color: #63615f;
}
.footer__social-links {
    width: 120px;
}
.footer__social-links .social-links__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer__social-links .social-links__list li a {
    color: #a5a5a5;
    transition: color 0.3s;
}
.footer__social-links .social-links__list li a:hover {
     color: #666666;
}
