.product-section {
    padding-top: 60px;
    padding-bottom: 60px;
}
.product-section h2 {
    text-align: center;
}

.products-list {
    display: flex;
    flex-wrap: wrap;
}
.product-item:not(:nth-child(4n)){
    margin-right: 30px;
}
.product-item {
    width: 270px;
    min-height: 350px;
    border-radius: 4px;
    overflow: hidden;
    margin-bottom: 30px;
    cursor: pointer;
    transition: transform 0.4s;
}
.product-item:hover {
    transform: scale(1.05);
}
.product-item a {
    display: block;
    width: 100%;
    height: 100%;
}

.product-item__image {
    height: 260px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow: hidden;
}
.product-item__image img {
    height: 100%;
    max-width: none;
}
.product-item__text {
    background-color: rgba(103, 91, 153, 0.15);
}
.product-item__name {
    font-family: 'Quicksand', Arial, sans-serif;
    font-weight: 600;
    text-align: center;
    margin: 0;
    padding: 15px 0;
}
.product-item__price {
    text-align: center;
    color: #816eca;
    margin: 0;
    padding-bottom: 20px
}