.main--products-page .product-section{
    background-color: #816eca;
    background-image: linear-gradient(0deg, rgba(220,89,136,1) 0%, rgba(103,91,153,1) 100%);
}

.main--products-page .products h2 {
    color: #fff;
    font-size: 50px;
    padding-top: 0;
    padding-bottom: 40px;
}
.main--products-page .product-item__text {
    background-color: #fff;
}