.main--products-page .product-section{
    background-color: #816eca;
}

.main--products-page .products h2 {
    color: #fff;
    font-size: 50px;
    padding-bottom: 40px;
}
.main--products-page .product-item__text {
    background-color: #fff;
}