<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Apple Shop</title>
  <link rel="shortcut icon" href="/public/img/favicon.ico" type="image/x-icon">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Sniglet:wght@400;800&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/public/css/main.css">
  <link rel="stylesheet" href="/public/css/cart.css">
  <link rel="stylesheet" href="/public/css/breadcrumb-section.css">
  <script src="https://use.fontawesome.com/86cb787e9f.js"></script>
</head>
<body class="inner-page">
<header class="header">
  <div class="header__wrapper container">
    <div class="logo"><a href="index.html"><img src="/public/img/logo.png" alt=""></a></div>
    <nav class="nav-bar">
      <div class="site-navigation">
        <ul>
          <li><a href="products.html">Products</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
      <div class="user-navigation">
        <ul>
          <li><a href="#"><i class="fa fa-search fa-lg"></i></a></li>
          <li><a href="login.html"><i class="fa fa-user fa-lg"></i></a></li>
          <li><a href="#"><i class="fa fa-shopping-cart fa-lg"></i></a></li>
        </ul>
      </div>
    </nav>
  </div>
</header>
<main class="main main--product-page">
    <div class="container">
        <nav class="breadcrumb-nav">
          <ul class="breadcrumb">
            <li><a href="index.html">Home</a></li>
            <li>Cart</li>
          </ul>
        </nav>
      <section class="cart">
        <ul class="cart-list">
          <li class="cart-item">
            <div>
              <div class="cart-item__image"><a href="#"><img src="/public/img/item_not_found.png" alt=""></a></div>
              <div class="cart-item__name"><a href="#">Item</a></div>
              <div class="cart-item__price"><a href="#">200 $</a></div>
              <div class="cart-item__delete"><div><i class="fa fa-times" aria-hidden="true"></i></div></div>
            </div>
          </li>
          <li class="cart-item">
            <div>
              <div class="cart-item__image"><a href="#"><img src="/public/img/item_not_found.png" alt=""></a></div>
              <div class="cart-item__name"><a href="#">Item</a></div>
              <div class="cart-item__price"><a href="#">200 $</a></div>
              <div class="cart-item__delete"><div><i class="fa fa-times" aria-hidden="true"></i></div></div>
            </div>
          </li>
          <li class="cart-item">
            <div>
              <div class="cart-item__image"><a href="#"><img src="/public/img/item_not_found.png" alt=""></a></div>
              <div class="cart-item__name"><a href="#">Item</a></div>
              <div class="cart-item__price"><a href="#">200 $</a></div>
              <div class="cart-item__delete"><div><i class="fa fa-times" aria-hidden="true"></i></div></div>
            </div>
          </li>
        </ul>
        <div class="order">
          <div class="order-wrapper">
            <p>Total: </p><b>1000 $</b>
          </div>
          <button class="btn btn-buy">Proceed to checkout</button>
        </div>
      </section>
    </div>
</main>
<footer class="footer">
  <div class="container">
    <div class="footer__about-us">
      © 2021 Alexey Goncharov.
      Made in Ukraine
    </div>
    <div class="footer__categories">
      <h2>Categories</h2>
      <ul class="categories__list">
        <li class="categories__item"><a href="#">Phones</a></li>
        <li class="categories__item"><a href="#">Watches</a></li>
        <li class="categories__item"><a href="#">Tablets</a></li>
        <li class="categories__item"><a href="#">Accessories</a></li>
        <li class="categories__item"><a href="#">TV</a></li>
      </ul>
    </div>
    <div class="footer__about">
      <h2>About</h2>
      <ul class="about__list">
        <li class="about__item"><a href="#">About us</a></li>
        <li class="about__item"><a href="#">Delivery</a></li>
        <li class="about__item"><a href="#">Contact</a></li>
      </ul>
    </div>
    <div class="footer__social-links">
      <ul class="social-links__list">
        <li><a href="#"><i class="fa fa-facebook fa-2x"></i></a></li>
        <li><a href="#"><i class="fa fa-instagram fa-2x"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter fa-2x"></i></a></li>
      </ul>
    </div>
  </div>
</footer>
</body>
</html>